/*-- scss:defaults --*/

@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Noto+Sans+JP:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");


$primary: #1a9b65;
$secondary: #256db0;
$body-bg: #131313;
$body-color: #dddddd;
$font-family: "Noto Sans JP", sans-serif;
$artcle-color: rgb(38, 38, 38) !default;

// フォント設定
.titlefont{
  font-family: 'Monomaniac One', sans-serif;
}
.monofont {
  font-family: 'Ubuntu Mono', monospace;
}

// ナビゲーションバー
$navbar-bg: #e7e7e7;
$navbar-fg: $body-color;
.navbar {
  background-color: rgba(28, 28, 28, 0.4) !important;
  backdrop-filter: blur(10px); /* オプション：すりガラス効果を追加 */
  height: 3.5rem;
}
.nav-link-active {
  color: rgb(0,0,0) !important;
  font-weight: bold !important;
}
.nav-link {
  color: gray !important;
}


//tocの設定
.toc-active {
  background-color: $artcle-color !important;
  border-radius: 0.5rem !important;
  padding-top: 0.5rem; 
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  border: rgb(64, 64, 64) 0px solid !important;
  //box-shadow: 0px 10px 10px 0px rgba(197, 197, 197, 0.5) !important;
}

// body部分の設定
.content {
  background-color: $artcle-color; 
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 1.5rem; 
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0px 0px 0px 0 rgba(2, 2, 2, 0.5);
  border-radius: 0.5rem;
}

// コードブロック
$code-block-bg: #474747;
.cell-output-stdout {
  color: #d63384;
}
// インラインコード
$code-color: rgb(255, 158, 227);
$code-bg: $code-block-bg;
$monofont:  'Ubuntu Mono', monospace;


// カテゴリの見た目
.quarto-category{
  color: rgb(255, 255, 255) !important;
  background-color: $primary;
  text-transform: none !important;
  border-width: 0px !important;
  border-radius: .7rem !important;
  opacity: 1 !important;
}
.quarto-category a {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
}
.listing-category{
  color: rgb(255, 255, 255) !important;
  background-color: $primary;
  text-transform: none !important;
  border-width: 0px !important;
  border-radius: .7rem !important;
  opacity: 1 !important;
}

// リストのタイトルの余白調整
.listing-title {
  margin-bottom: 10px !important;
}


// その他
.bg-gray-container {
  background-color: rgb(137, 158, 148, .1); 
  padding-top: 1rem; 
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.bg-gray-container h1,
.bg-gray-container h2,
.bg-gray-container h3 {
  color: rgb(215, 215, 215);
}

.content-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
